#score {
  position: absolute;
  color: white;
  left: 520px;
  top: 20px;
  font-family: "Bangers", cursive;
  font-size: 20px;
}

#mute {
  position: absolute;
  left: 490px;
  top: 22px;
  height: 18px;
}
