#score {
  position: absolute;
  color: white;
  left: 520px;
  top: 20px;
  font-family: "Bangers", cursive;
  font-size: 20px;
}

#mute {
  position: absolute;
  left: 490px;
  top: 22px;
  height: 18px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

#send-score {
  position: absolute;
  top: 225px;
  left: 282px;
}

#username {
  width: 65px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 35px;
  color: white;
  font-family: bangers;
  text-transform: uppercase;
}

*:focus {
  outline: none;
}

#leaderboard {
  position: absolute;
  top: 135px;
  color: white;
  left: 152px;
  font-size: 20px;
  font-family: bangers;
}

#next5 {
  margin: 0 45px;
}

td {
  padding: 0 20px;
}
